@import "~bootstrap/dist/css/bootstrap.min.css";

body{
    box-sizing: border-box;
    background: #0e7e12;
}
.card{
    display: inline-block;
    text-align: center;
    background: white;
    margin: auto;
    height: 400px;
    width: 250px;
    padding: 20px;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
   
}
.number{
    justify-content: center;
    font-size: 340px;
}
.top-suit{
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 85px;
}
.bottom-suit{
    position: absolute;
    bottom: 0;
    right: 10px;
    font-size: 85px;
}